alembic==1.6.5
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
conda==4.3.16
Flask==2.0.1
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
marko==1.0.3
MarkupSafe==2.0.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pycosat==0.6.3
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
six==1.16.0
SQLAlchemy==1.4.19
toml==0.10.2
typing-extensions==4.1.0
urllib3==1.26.5
Werkzeug==2.0.1
zipp==3.4.1
