html {
  background-color: #fbf1c7;
}

body {
  color: #3c3836;
  margin: 1em;
  font-size: 1rem;
}

pre,
code {
  color: #af3a03;
  overflow-x: auto;
}

body,
pre,
code {
  font-family: "Fantasque Sans Mono", monospace;
}

@media (max-width: 20rem) {
  body {
    font-size: calc(1rem + 0.00625 * (100vw - 20rem));
  }
}

th.timestamp {
  max-width: 10ch;
}

@media (min-width: 40rem) {
  body {
    padding: 1rem 10%;
  }

  th.timestamp {
    width: 22ch;
    max-width: 22ch;
  }
}

a {
  color: #076678;
  text-decoration: none;
}

a:hover {
  text-decoration: underline dotted;
}

a.active {
  text-decoration: underline;
}

header > h1 {
  margin-bottom: 0.05rem;
}

nav {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}

table,
th,
td {
  border: 1px solid #282828;
}

th {
  background-color: #076678;
  color: #fbf1c7;
}

.post-content {
  border: 1px solid #282828;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

p {
  margin: 0rem 0rem 0.5rem 0rem;
}

p:not(:first-child) {
  margin: 1rem 0rem 0.5rem 0rem;
}

.post-metadata {
  font-size: small;
  color: #928374;
}

.messages {
  border: 1px solid #282828;
  background-color: #ebdbb2;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.lcat-l-letter {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    color: #fbf1c7;
    background-color: #282828;
  }

  50% {
    color: #282828;
    background-color: #fbf1c7;
  }

  100% {
    color: #fbf1c7;
    background-color: #282828;
  }
}

.giscus {
  padding: 0.5rem;
  background-color: #ebdbb2;
  margin-top: 1rem;
  width: inherit;
}

.giscus-frame {
  width: 100%;
}
