@media (max-width: 50rem) {
    .separator {
        display: none;
    }
    .small {
        font-size: 0.8rem;
    }
}

#logTable_filter>label:nth-child(1)>input:nth-child(1) {
    display: inline !important;
    width: auto !important;
}

.log-box {
    border: 1px dotted black;
    padding: 0.8rem !important;
}

.ts-wrap {
    word-wrap: break-word !important;
    max-width: 5rem;
}

.small {
    font-size: normal;
}

.alert-box {
    margin-bottom: 1rem;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 1rem;
}

.dashed-box {
    padding: 1rem;
    border-top: 1px dashed black;
}

.non-markdown-content {
    background: none;
    margin-bottom: 0;
}

.alert-box ul {
    margin: 0;
    padding-left: inherit;
}

.w-100 {
    min-width: 100%;
}

.monospaced {
    font-family: monospace;
    font-size: 11pt;
}

.log-content h1 {
    margin-top: 1em;
    font-size: 1.3em;
}

.log-content>*:first-child {
    margin-top: 0;
}

.log-content>h2, .log-content>h3, .log-content>h5, .log-content>h6 {
    margin-top: 1em;
    font-size: 1em;
}

textarea.wide {
    height: 200px !important;
}

h2.log-title {
    margin-bottom: 0.5em;
}

.log-content>p img, .log-content>p picture {
    float: none;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}