{% extends "skel.html" %}
{% block title %}Change Password{% endblock %}
{% block article %}
<section>
    <h3>Change Password</h3>
    Please enter your new password.
</section>
<section>
    <form method="post" class="w-100">
        <fieldset>
            <label>New password:</label>
            <input type="password" name="new_password" required autofocus>
            <label>Confirm new password:</label>
            <input type="password" name="confirm_new_password" required>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</section>
{% endblock %}
{% block body_scripts %}
<script>
    $(window).unload(function () {
        return "Changes not saved. Are you sure?";
    });
</script>
{% endblock %}