{% extends "skel.html" %}
{% block title %}Edit Log{% endblock %}
{% block article %}
<section>
    <h3>Edit Log: {{ log_post.id }}</h3>
</section>
<section>
    <form method="post" class="w-100">
        <fieldset>
            <label>Creation timestamp:</label>
            <input type="text" value="{{ log_post.creation_ts.isoformat() }}" disabled>
            <label>Title:</label>
            <input type="text" name="title" value="{{ log_post.title }}" required autofocus>
            <label>Content:</label>
            <textarea class="wide" rows=100 name="content" class="monospaced" required>{{ log_post.content }}</textarea>
            <label>
                <input type="checkbox" name="is_md" {% if log_post.is_markdown %}checked{% endif %}>Enable Markdown
                parser
            </label><br>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</section>
{% endblock %}
{% block body_scripts %}
<script>
    $(window).unload(function () {
        return "Changes not saved. Are you sure?";
    });
</script>
{% endblock %}