{% extends "skel.html" %}
{% block title %}Login{% endblock %}
{% block article %}
<section>
    <h3>Authentication Required</h3>
    <p>Please enter a valid password.</p>
</section>
<section>
    <form method="post" class="w-100">
        <fieldset>
            <label>Password:</label>
            <input type="password" name="password" required autofocus>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</section>
<!--
    THIS IS A REAL LOGIN PAGE.
    NOT A CTF UNLESS YOU WANT TO.

    YES, IT IS SINGLE USER. 

    SUGGESTIONS:
    1. GET THE SECRET KEY (IN THE CONFIG FILE) AND MANIPULATE SESSION
    2. CRACK A FILE CONTAINING THE PASSWORD HASH

    MAIL ME: bugreport@lcat.dev
-->
{% endblock %}