{% extends "skel.html" %}
{% block title %}Write a Log{% endblock %}
{% block article %}
<section>
    <h3>Write a Log</h3>
    Please enter log post details.
</section>
<section>
    <form method="post" class="w-100">
        <fieldset>
            <label>Title:</label>
            <input type="text" name="title" required autofocus>
            <label>Content:</label>
            <textarea class="wide" rows=100 name="content" class="monospaced" required></textarea>
            <label>
                <input type="checkbox" name="is_md" checked>Enable Markdown
                parser
            </label>
            <label>
                <input type="checkbox" name="is_pinned">Mark as pinned
            </label><br>
            <button type="submit">Post</button>
        </fieldset>
    </form>
</section>
{% endblock %}
{% block body_scripts %}
<script>
    $(window).unload(function () {
        return "Changes not saved. Are you sure?";
    });
</script>
{% endblock %}