{% extends "skel.html" %}
{% block title %}Home{% endblock %}
{% block head_scripts %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}
{% block article %}
<section>
{% import "macros.html" as macros %}
{{ macros.show_log_posts_table(log_posts, True) }}
</section>
{% endblock %}
{% block body_scripts %}
<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#logTable').DataTable({
            columnDefs: [
                {
                    targets: [1],
                    visible: false,
                }
            ],
            order: [[1, "desc"], [0, "desc"]],
            bFilter: false,
        });
    });
</script>
{% endblock %}