<!DOCTYPE html>

<!--
    __           __       __         
   / /________ _/ /_ ____/ /__ _   __
  / / ___/ __ `/ __// __  / _ \ | / /
 / / /__/ /_/ / /__/ /_/ /  __/ |/ / 
/_/\___/\__,_/\__(_)__,_/\___/|___/  

nothing to see here, geek!
instead, see it here: https://github.com/p4kl0nc4t/lcat.dev
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='awsm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head_scripts %}{% endblock %}
    <title>lcat &mdash; {% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <h1>lcat</h1>
        <p>My personal <code>/var/log</code></p>
        {% macro nav_link(endpoint, page_name) %}
        {% if request.endpoint != endpoint %}
        <a href="{{ url_for(endpoint) }}">{{ page_name }}</a>
        {% else %}
        {{ page_name }}
        {% endif %}
        {% endmacro %}
        <nav>
            <ul>
                <li>{{ nav_link('root', 'Home') }}</li>
                <li>{{ nav_link('root', 'Search') }}</li>
                <li>{{ nav_link('root', 'Contact') }}</li>
                {% if not session.get('authed') %}
                <li>{{ nav_link('admin.login', 'HackMe') }}</li>
                {% else %}
                <li>{{ nav_link('admin.write_log', 'Write') }}</li>
                <li>{{ nav_link('admin.change_password', 'Change Password') }}</li>
                <li>{{ nav_link('admin.logout', 'Logout') }}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <article>
        {% set flashed_messages = get_flashed_messages() %}
        {% if flashed_messages %}
        <div class="alert-box">
            <ul>
                {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% block article %}
        {% endblock %}
    </article>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    {% block body_scripts %}{% endblock %}
</body>

</html>