{% extends "skel.html" %}
{% block title %}{{ log_post.title }}{% endblock %}
{% block article %}
<section>
    <h2>{{ log_post.title }}</h2>
    <br>
    <div class="log-content log-box">
        {% if log_post.is_markdown %}
        {{ processed_content|safe }}
        {% else %}
        <pre>
        {{ processed_content }}
        </pre>
        {% endif %}
    </div>
    <small>
        Created: {{ log_post.created.isoformat() }},
        Last updated: {{ log_post.last_updated.isoformat() }}
        ID: <code>{{ log_post.id }}</code>,
    </small>
</section>
{% endblock %}