{{define "title"}}Home{{end}} {{define "content"}}
<table style="width: 100%">
  <tr>
    <th class="timestamp">Timestamp</th>
    <th>Title</th>
  </tr>
  {{range .}}
  <tr>
    <td>{{.CreatedAt}}</td>
    <td>
      <a href="/{{.Id}}"> {{if .IsPinned}}[📌]{{end}} {{.Title}} </a>
    </td>
  </tr>
  {{end}}
</table>

<form>
  <label>limit: </label>
  <input type="number" name="limit" style="width: 4ch" />
  <label>offset: </label>
  <input type="number" name="offset" style="width: 4ch" />
  <input type="submit" value="go!" />
</form>
{{end}}
